<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @researcher.image %>);">
    <%= @researcher.firstname  %><span>のページ</span>
    <% if user_signed_in? && current_user.id == @researcher.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', "/researchers/#{@researcher.id}/edit", method: :get %>
          </li>
          <li>
            <!-- link_to '削除', "/researchers/#{<@researcher></@researcher>.id}", method: :delete %> -->
          </li>
        </ul>
      </div>
    <% end %>
    </span>
    
  <div class="cheer-container"> 
    <!-- ここからフォーム -->

     <div class="cheers">   
      <h4>＜Cheer一覧＞</h4>
      <% if @cheers %>
        <% @cheers.each do |cheer| %>
          <p>
            <strong><%= link_to cheer.user.firstname, "/users/#{cheer.user_id}" %>：</strong>
            <%= cheer.message %>
          </p>
        <% end %>
      <% end %>
    </div>
    <!-- button -->

    <div class="grid-6">
      <!--if ログインずみ -->
        <%= link_to "cheerする！", "/researchers/#{@researcher.id}/cheers/new", class: 'get' %>
      <!--elseif　ログイン必要あり　 -->
        <%= link_to "cheerする！", new_user_session_path, class: 'post' %>
      <!--else 新規登録必要あり -->
        <%= link_to "cheerする！", new_user_registration_path, class: 'post' %>
    </div> 
     <div class="cheers">   
      <h4><cheer一覧＞</h4>
      <% if @cheers %>
        <% @cheers.each do |cheer| %>
          <p>
            <strong><%= link_to cheer.user.firstname, "/users/#{cheer.user_id}" %>：</strong>
            <%= cheer.message %>
          </p>
        <% end %>
      <% end %>
    </div>    
  </div>
  
  
  
  
  <div class="comment-container"> 
    <!-- ここからフォーム -->
    <% if current_user %>
      <%= form_tag("/researchers/#{@researcher.id}/comments", method: :post) do %>
        <textarea name="text" placeholder="コメントする" rows="2" cols="30"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
    
    
     <div class="comments">   
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.firstname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>  
  
  <div class="advertisement-container"> 
    <!-- ここからフォーム -->
    <% if user_signed_in? && current_user.id == @researcher.user_id %>
    
    <!-- if current_user %-->
      <%= form_tag("/researchers/#{@researcher.id}/advertisements", method: :post) do %>
        <textarea name="text" placeholder="宣伝する" rows="2" cols="30"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
  
    
      <div class="advertisements">   
        <h4>＜宣伝一覧＞</h4>
        <% if @advertisements %>
          <% @advertisements.each do |advertisement| %>
            <p>
              <%= advertisement.text %>
            </p>
          <% end %>
        <% end %>
      </div>   
    
  </div>
</div>